* {
    margin: 0;
    padding: 0;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    border-bottom: 1px solid black;
    align-items: center;
}

.nav__title {
    color: blueviolet;
}

.nav__search {
    display: flex;
    border: 1px solid black;
    width: 60%;
    border-radius: 30px;
    padding: 10px;
    gap: 10px;
}

.nav__search input {
    border: none;
    width: 100%;
}

.nav__search input:focus {
    outline: none;
}

.nav__icons {
    display: flex;
    gap: 10px;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding: 10px;
}

.categories p {
    background-color: blueviolet;
    padding: 10px;
    border-radius: 30px;
    color: white;
}

.sale__images img {
    width: 100%;
}

.trending__courses {
    padding: 10px;
}

.trending__courses__recommend {
    padding-top: 2px;
}

.course__card__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course__card {
    margin-top: 5px;
    width: 300px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
}

.course__card:hover {
    background-color: #dce0dd;
}

.course__card img {
    width: 300px;
    border-radius: 5px;
}

.course__card p {
    padding-top: 5px;
}

.course__card p:nth-of-type(2) {
    background-color: grey;
    padding: 2px;
    border-radius: 10px;
    width: 50px;
}

.topics {
    margin-top: 20px;
}

.topics__container {
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    border: 2px solid grey;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    margin-top: 5px;
}

.popular {
    padding: 10px;
}

.popular__card {
    margin-top: 5px;
    width: 300px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
}

.popular__card__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular__card:hover {
    background-color: #dce0dd;
}

.popular__card img {
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

.popular__card p {
    padding-top: 5px;
}

.popular__card p:nth-of-type(2) {
    background-color: grey;
    padding: 2px;
    border-radius: 10px;
    width: 50px;
}

.footer {
    background-color: black;
    color: white;
    padding: 10px;
}

.footer__list__container {
    display: flex;
    margin: 20px;;
}

.footer__list__container > div > p {
    margin-top: 20px;
}

.footer__list2 {
    margin-left: 50px;
}

.footer2 {
    margin: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}


